<div class="footer-header-links">
  <a href="/" class="footer-title">FLID</a>
  <p class="footer-fullform">Foundation Of Lonliness Insecurity and Depression</p>
<a href="#"><img class="footer-img" src="/photos/icon-facebook.png"></a>
<a href="#"><img class="footer-img" src="/photos/icon-instagram.png"></a>
<a href="#"><img class="footer-img" src="/photos/icon-twitter.png"></a>
<a href="#"><img class="footer-img" src="/photos/icon-youtube.png"></a>
<a class="footer-links" href="/aboutus">About Us</a>
<a class="footer-links" href="/contactus">Contact Us</a>
<a class="footer-links-1" href="/support">Support</a>
<a class="footer-links-1" href="/privacy">Privacy</a>
<p class="footer-copy">© FLID. All Rights Reserved</p>
</div>
  </body>
</html>
