<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FLID Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/styles-header-links.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/styles-mobile.css">
    <link rel="stylesheet" href="/css/functions.css">
    <link rel="stylesheet" href="/css/functions-2.css">
  </head>
  <body>
      <div class="header">
      <a href="/" class="flid">FLID</a>
      <p class="fullform">Foundation Of Lonliness Insecurity and Depression</p>
      <a href="/login"><img class="user" src="/photos/user.png"></a>
      <form action="/" method="post">
      <button type="submit" class="btn btn-light home-btn">Home</button>
      </form>
      <a class="header-links" href="/aboutus">About Us</a>
      <a class="header-links" href="/contactus">Contact Us</a>
      <div class="dropdown">
      <a class="blog" href="/blogs">Blogs</a>
      <div class="dropdown-content">
      <a  class=dropdown-1 href="/anxiety">Anxiety</a>
      <a class=dropdown-1 href="/depression">Depression</a>
      <a class=dropdown-1 href="/friendship">Friendship and mental health</a>
      <a class=dropdown-1 href="/ocd">OCD</a><br>
      <a class=dropdown-1 href="/panic">Panic Attacks</a>
      </div>
      </div>
      <a class="header-links" href="/support">Support</a>
      <a class="header-links" href="/privacy">Privacy</a>
      </div>
