<%- include("partials/header"); -%>
      <div class="first">
        <p class="title">About Us</p>
        <p class="title-text">Mental health is one of the most important part of the wellness of human being.<br>
                              But,unfortunately it is the most neglacted part in our lifestyle. According to a <br>
                              recent survey, every 1 in 16 person are suffering from mental disorders in India<br>
                              in the year of 2017. A lot of individuals are embarrassed talking about the mental<br>
                              state they are in, while some even don't realise they are having mental illness.<br>
                              Some are simply ignorant towards this serious topic.<br>
                              <br>
                              Keeping all this mind, we as a team decided to start this foundation on mental <br>
                              awareness.We at FLID, believe that mental health is as important as physcial health.<br>
                              We try to connect with the person in need and provide them proper help. So they can <br>
                              lead a healthy life.We don't consider a person with mental health any less than anyone.<br>
                              Our aim is to that every person should be aware about there menatal health and not be <br>
                              hesitant of getting proffesional help if needed.</p>
        <p class="quote">What we change inwardly will change outer reality.<br>
                         -Plutarch</p>
        <img class="apple" src="photos/apple.png" alt="">
        </div>
<%- include("partials/footer"); -%>
