<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Anxiety</p>
        <p class="blog-text">Anxiety is a feeling of unease, worry or fear which, when persistent and impacting on
           daily life may be a <br>sign of an anxiety disorder. Generalised Anxiety Disorder, which is
           one common type of anxiety disorder, <br>is estimated to impact 5.9% of adults in India.<br>
           <bold>Causes:</bold> <br>
           There are many different factors that may contribute to the development of mental health problems like anxiety<br>
            disorders. These factors include biological factors (for example genetics6, experience of chronic physical illness <br>
             or injury and psychological or social factors (experiences of trauma or adversity in childhood, struggles with income<br>
              or poverty, employment status, family and personal relationships, and living or work environment. <br>
              <bold>Getting Support:</bold> <br>
              There are a range of approaches for treatment and management of anxiety disorders, and the most<br>
               appropriate method will vary depending on the type and severity of anxiety disorder, and<br>
                personal circumstances. <br>
                <br>
                To read full article please visit:
              </p>
           <a href="https://www.mentalhealth.org.uk/a-to-z/a/anxiety" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/a/anxiety</a>
        </div>
      <%- include("partials/footer"); -%>
