<%- include("partials/header"); -%>

<div class="blog-body">
  <div class="row row1">
    <div class="column column1">
      <div class="card card-row-1">
  <img src="photos/anxiety.jpg" class="card-img-top card-img" alt="...">
  <div class="card-body">
  <h5 class="card-title">Anxiety</h5>
  <p class="card-text card-blogs-text">Know more about anxiety and mental health..</p>
  <a href="/anxiety" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
    </div>
<div class="column column1">
  <div class="card card-row-1">
  <img src="photos/depression.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Depression</h5>
  <p class="card-text card-blogs-text">Know more about depression and more..</p>
  <a href="/depression" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>
<div class="column column1">
  <div class="card card-row-1">
  <img src="photos/friendship.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Friendship</h5>
  <p class="card-text card-blogs-text">Know more about friendship and mental health..</p>
  <div class="row">
      <a href="/friendship" class="btn btn-primary btn-block btn-blogs">Read more</a>
  </div>
  </div>
  </div>
</div>
<div class="column column1">
  <div class="card card-row-1">
  <img src="photos/OCD.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">OCD</h5>
  <p class="card-text card-blogs-text">Know more about OCD and mental health..</p>
  <a href="/ocd" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>
<div class="column column1">
  <div class="card card-row-1">
  <img src="photos/panic.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Panic Attacks</h5>
  <p class="card-text card-blogs-text">Know more about panic attacks and mental health..</p>
  <a href="/panic" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>
  </div>

<div class="row row2">
<div class="column column2">
  <div class="card card-row-2">
  <img src="photos/sleep(1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Sleep</h5>
  <p class="card-text card-blogs-text">Know more about sleep and mental health..</p>
  <a href="/sleep" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>
<div class="column column2">
  <div class="card card-row-2">
  <img src="photos/alcohol(1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Alcohol</h5>
  <p class="card-text card-blogs-text">Know more about alcohol and mental health..</p>
  <a href="/drugs" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>
<div class="column column2">
  <div class="card card-row-2">
  <img src="photos/exercise(1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Exercise</h5>
  <p class="card-text card-blogs-text">Know more about exercise and mental health..</p>
  <a href="/exercise" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>
<div class="column column2">
  <div class="card card-row-2">
  <img src="photos/tell(1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Tell Someone</h5>
  <p class="card-text card-blogs-text">Know more about sharing and mental health..</p>
  <a href="/tell" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>
<div class="column column2">
  <div class="card card-row-2">
  <img src="photos/eat(1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title">Eat Healthy</h5>
  <p class="card-text card-blogs-text">Know more about eating healthy and mental health..</p>
  <a href="/healthy" class="btn btn-primary btn-blogs">Read more</a>
  </div>
  </div>
</div>

  </div>
</div>

<%- include("partials/footer"); -%>
