<%- include("partials/header"); -%>
      <div class="first">
        <p class="title">Contact Us</p>
        <p class="title-text">We are a bhubaneswar based foundation. We have offices all over india India. <br>
                              You can also email us at flid.foundation@gmail.com. <br>
                              <br>
                              Head Office:<br>
                              KP 10(A), KIIT University, Patia, Bhubaneswar<br>
                              Odisha- 751024<br>
                              Phone Number:8946946335<br>
                              <br>
                              Delhi NCR Office:<br>
                              Sarawaswati Apartments, sector 21, Faridabad<br>
                              Delhi NCR- 1100234 <br>
                              Phone Number:8130203585
                              </p>
        <p class="quote">Not until we are lost do we begin to understand ourselves. <br>
                         -Henry David Thorean</p>
        <img class="heart" src="photos/heart.png" alt="">
        </div>
<%- include("partials/footer"); -%>
