<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Depression</p>
        <p class="blog-text">Depression is a common mental health problem that causes people to experience low mood,<br>
                            loss of interest or pleasure, feelings of guilt or low self-worth, disturbed sleep or appetite, <br>
                            low energy,and poor concentration.<br>
                            Causes: <br>
                            Depression is a complex condition and its causes are not fully understood. However, various contributing <br>
                            factors can lead to depression. These can include biological factors (for example, genetics4 or experience <br>
                            of physical illness or injury) and psychological or social factors (experiences dating back to childhood,<br>
                            unemployment, bereavement, or life-changing events such as pregnancy. Having a long-standing or<br>
                            life-threatening illness, such as heart disease, back pain or cancer, has been associated with an increased<br>
                            risk of depression. <br>
                            Getting Support:<br>
                            Common treatment approaches for depression include talking therapies and medication. <br>
                            <br>
                            To read full article please visit:
                            </p>
        <a href="https://www.mentalhealth.org.uk/a-to-z/d/depression" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/d/depression</a>
        </div>

<%- include("partials/footer"); -%>
