<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Alcohol And Drugs</p>
        <p class="blog-text">Substance abuse covers misuse of a range of mind-altering substances. It can have a
                             severe impact <br>on your functioning as well as your physical health.<br>
                             Substance abuse or misuse is formally defined as the continued misuse of any mind-altering<br>
                             substance that severely affects person’s physical and mental health, social situation and responsibilities.<br>
                             Alcohol dependence is the most common form of substance misuse, but any drug, including<br> heroin, cocaine, crack
                             and cannabis, comes into this category, as does the misuse of glue and aerosols. <br>
                             Substance abuse may also include smoking cigarettes or drinking excessive amounts of coffee.<br> Although not strictly
                             a form of substance abuse, the eating disorder bulimia nervosa does <br>involve the misuse of food.
                             Most forms of substance abuse may give you a temporary feeling of well-being <br>or of being in control, but all of them
                             can ultimately damage your health.<br>
                             The most severe forms of substance misuse are normally treated by specialist drug and alcohol<br> rehabilitation services.<br>

                <br>
                To read full article please visit:
              </p>
           <a href="https://www.mentalhealth.org.uk/a-to-z/d/drugs-and-mental-health" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/d/drugs-and-mental-health</a>
        </div>
        
<%- include("partials/footer"); -%>
