<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Exercise</p>
        <p class="blog-text">Exercise is not just about aerobic capacity and muscle size. Sure, exercise can improve your<br>
                             physical health and your physique, trim your waistline, improve your sex life, and even add <br>
                             years to your life. But that’s not what motivates most people to stay active.<br>
                             People who exercise regularly tend to do so because it gives them an enormous sense of well-being.<br>
                             They feel more energetic throughout the day, sleep better at night, have sharper memories, and feel<br>
                             more relaxed and positive about themselves and their lives. And it’s also powerful medicine for many<br>
                             common mental health challenges. <br>
                             Regular exercise can have a profoundly positive impact on depression, anxiety, ADHD, and more. It also<br>
                             relieves stress, improves memory, helps you sleep better, and boosts your overall mood. And you don’t<br>
                             have to be a fitness fanatic to reap the benefits. Research indicates that modest amounts of exercise can<br>
                             make a difference. No matter your age or fitness level, you can learn to use exercise as a powerful tool <br>
                             to feel better. <br>
                             <br>
                             To read full article please visit:
          </p>
          <a href="https://www.helpguide.org/articles/healthy-living/the-mental-health-benefits-of-exercise.htm" class="blog-link">https://www.helpguide.org/articles/healthy-living/the-mental-health-benefits-of-exercise.htm</a>
        </div>

<%- include("partials/footer"); -%>
