<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Friendship And Mental Health</p>
        <p class="blog-text">Our friendships are among the most valuable relationships we have. We gain in various ways from <br>
                            different friendships. We may talk to friends in confidence about things we wouldn't discuss with<br>
                            our families. Our friends may annoy us, but they can also keep us going.<br>
                            Friendship is a crucial element in protecting our mental health. We need to talk to our friends and<br>
                            we want to listen when our friends want to talk to us. Our friends can keep us grounded and can help<br>
                            us get things in perspective. It is worth putting effort into maintaining our friendships and making<br>
                            new friends. Friends form one of the foundations of our ability to cope with the problems that life<br>
                            throws at us.<br>
                            Why is friendship important when someone is unwell? <br>
                            When someone has a mental health problem or is experiencing mental distress, it is important to try to<br>
                            keep friendships going, even though people with mental health problems often want to see their friends <br>
                            less than usual.<br>
                <br>
                To read full article please visit:
              </p>
           <a href="https://www.mentalhealth.org.uk/a-to-z/f/friendship-and-mental-health" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/f/friendship-and-mental-health</a>
        </div>

<%- include("partials/footer"); -%>
