<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Eat Healthy</p>
        <p class="blog-text">There is research to suggest that what we eat may affect not just our physical health, <br>
                             but also our mental health and wellbeing.<br>
                             Eating well (i.e. a well-balanced diet rich in vegetables and nutrients) may be associated<br>
                             with feelings of wellbeing. One 2014 study found high levels of wellbeing were reported by individuals<br>
                             who ate more fruit and vegetables.<br>
                             A recent study found that a Mediterranean-style diet (a diet high in vegetables, fruits, legumes, nuts, beans,<br>
                             cereals, grains, fish, and unsaturated fats such as olive oil.) supplemented with fish oil led to a reduction in <br>
                             depression among participants, which was sustained six months after the intervention. <br>
                             The importance of good nutritional intake at an early age is explored in multiple studies, including a systematic<br>
                              review in 2014, which found that a poor diet (with high levels of saturated fat, refined carbohydrates and processed <br>
                             food products) is linked to poorer mental health in children and adolescents.<br>
                <br>
                To read full article please visit:
              </p>
           <a href="https://www.mentalhealth.org.uk/a-to-z/d/diet-and-mental-health" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/d/diet-and-mental-health</a>
        </div>

<%- include("partials/footer"); -%>
