<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">OCD</p>
        <p class="blog-text">Obsessive compulsive disorder (OCD) is a common form of anxiety disorder involving distressing, repetitive<br>
                             thoughts that can affect anyone regardless of gender, age, ethnicity or socioeconomic status. It is<br>
                             estimated that OCD occurs in around 1.1% of the general population in the UK. <br>
                             Causes: <br>
                             There are many different factors that may contribute to the development of mental health problems like OCD,<br>
                             and the exact causes are not yet fully understood. These factors include biological factors, and psychological<br>
                             or social factors.<br>
                             Getting Support:<br>
                             There are a range of approaches for the treatment and management of OCD, and the most appropriate method will vary<br>
                             person-to-person. The first step in accessing support is speaking to a healthcare provider, like your GP, who may then <br>
                             refer you for more specialist help.<br>
                             <br>
                            To read full article please visit:
           </p>
           <a href="https://www.mentalhealth.org.uk/a-to-z/o/obsessive-compulsive-disorder-ocd" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/o/obsessive-compulsive-disorder-ocd</a>
        </div>

<%- include("partials/footer"); -%>
