<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Panic Attacks</p>
        <p class="blog-text">A panic attack is an experience of sudden and intense fear, often accompanied by physical symptoms <br>
                             such as a racing heart, rapid breathing, or upset stomach1. Some research suggests that 13.2% of people<br>
                             have experienced a panic attack at some point in their lives.<br>
                             Causes: <br>
                             The physical symptoms of panic attacks are caused by the body’s “fight or flight” response to the<br>
                             feelings of anxiety and fear1. Panic attacks can often be triggered by stressful life events, <br>
                             though they may also occur for no clear reason.<br>
                             Getting Support: <br>
                             There are a range of approaches for the management and prevention of panic attacks, and treatments<br>
                             for anxiety disorders like panic disorder. If you are experiencing panic attacks, speak to your GP <br>
                             or healthcare provider who will help you find an approach that meets your needs. <br>
                             <br>
                            To read full article please visit:
           </p>
           <a href="https://www.mentalhealth.org.uk/a-to-z/p/panic-attacks" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/p/panic-attacks</a>
        </div>

<%- include("partials/footer"); -%>
