<%- include("partials/header"); -%>
      <div class="first">
        <p class="title">Privacy</p>
        <p class="title-text">We understand that people going through mental illness are reluctant <br>
                               sharing because they fear embarrassment. We at FLID promise that your <br>
                               data would not be leaked in any way possible. We take data privacy as our <br>
                               utmost priority. As we are operating in a domain in which data is very <br>
                               sensitive, we have taken several steps to protect any data posted on our site. <br>
                               <br>
                               So don't worry in sharing your story with us. We will try to help you in <br>
                               every way possible. Sharing is the first step towards a better mental health. <br>
                               Don't hesitate sharing on our site, your story is safe with us.
                              </p>
        <p class="quote">The only journey is the journey within. <br>
                         -Rainer Maria Rilke</p>
        <img class="support" src="photos/privacy.png" alt="">
        </div>
<%- include("partials/footer"); -%>
