<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Sleep</p>
        <p class="blog-text">Sleep is not just 'time out' from our busy routine. Most of us need to
                             sleep well to help our<br> bodies recover from the day and to allow healing to
                             take place.<br>
                             But with increasingly busy lives it's estimated that we now sleep around 90 minutes
                             less each night than <br>we did in the 1920s. If you add to this the large numbers who are
                             known to have problems sleeping, <br>it's obvious that many people are now functioning in a
                             permanently sleep-deprived state. <br>
                             Lack of sleep can make us feel physically unwell as well as stressed and anxious, and
                             scientists also <br>believe that it contributes to heart disease, premature ageing and road
                             accident deaths. <br>
                             What are most common sleep disorders? <br>
                             There are more than 80 different sleep problems listed in the medical textbooks, ranging<br>
                             from the inability to get to sleep (insomnia) to the inability to stay awake (narcolepsy).<br>
                             Many sleep problems are temporary, and you may find the self-help measures below help get<br>
                             you back to more normal sleeping pattern.<br>
                             <br>
                             To read full article please visit:
          </p>
          <a href="https://www.mentalhealth.org.uk/a-to-z/s/sleep" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/s/sleep</a>
        </div>

<%- include("partials/footer"); -%>
