<%- include("partials/header"); -%>
<h1 class="submit-heading">Your story has been recorded, please wait for conformation in the Approvals section.</h1>
<a href="/login/onlineCounselling/approvals" class="btn btn-primary btn-submit">Approvals</a>
<%- include("partials/footer"); -%>
