<%- include("partials/header"); -%>
      <div class="first">
        <p class="title">Support</p>
        <p class="title-text">Are you suffering from any kind of mental stress? Don't worry at all! <br>
                              Almost everyone goes through it at some point in life. But, understaning <br>
                              when you must get proffesional help is necessory.<br>
                              First steps towards healthier mental health are changing lifestyle,<br>
                              understaning the epicentre of stress and start working on it and having <br>
                              a good social life. Talking to people who care for you also helps a great <br>
                              deal. Always remember, you are not alone, there are always people who care <br>
                              for you. Who want only happiness for you. Dark times are only phase in life. <br>
                              They will also pass in no time if we remain strong.<br>
                               If you wish you can connect to our foundation also. We provide <br>
                              online counselling and also help in getting proffesional help.</p>
        <form action="/signup" method="post">
          <button type="submit" class="btn btn-primary btn-support btn-lg">Sign Up</button>
        </form>
        <p class="quote">The best way out is always through.<br>
                          -Robert Frost</p>
        <img class="support" src="photos/support.png" alt="">
        </div>
<%- include("partials/footer"); -%>
