<%- include("partials/header"); -%>
      <div class="first">
        <p class="blog-title">Tell Your Doctor</p>
        <p class="blog-text">GPs are there to help you with any problem related to your mental health as well as physical health.<br>
                             You can go to them if you feel sad after a relative has passed away, if the pressures of life are making<br>
                             you unhappy and anxious, or if you feel angry or confused. <br>
                             Mental ill health can have a negative impact on your physical health, just as a having a physical health problem <br>
                             can affect your mental health. GPs don't just prescribe medicines for mental health conditions.  They can also help<br>
                             you to access talking therapies and point you towards specialist help. <br>
                             Why go to see a GP over a problem that you think will eventually pass? <br>
                             A minor problem could develop into something more serious if ignored. Recurrent problems (like feeling anxious)<br>
                            can impact on your quality of life and lead to other problems.Seeing a GP regularly can help you to learn more about <br>
                            the support available to you, and helps your GP to better understand your needs. <br>
                             <br>
                             To read full article please visit:
          </p>
          <a href="https://www.mentalhealth.org.uk/a-to-z/t/talking-your-gp-about-your-mental-health" class="blog-link">https://www.mentalhealth.org.uk/a-to-z/t/talking-your-gp-about-your-mental-health</a>
        </div>

<%- include("partials/footer"); -%>
